#contenedor {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
}

#top {
    width: 100%;
    position: relative;
    background-color: white;
    padding: 5px;
    margin: 0px 0px 10px 0px;
}

#bottom {
    width: 100%;
    position: relative;
    background-color: white;
    padding: 5px;
    margin: 10px 0px 0px 0px;
    clear: left;
}

#left {
    float: left;
    background-color: #009933;
    padding: 3px;
    width: 170px;
    border: .2em solid white;
    margin: 1em 1em 1em;
    -moz-box-shadow: 0px 0px 1.25em #ccc;
    -webkit-box-shadow: 0px 0px 1.25em #ccc;
    box-shadow: 0px 0px 1.25em #ccc;
    -moz-border-radius: 0.6em;
    -webkit-border-radius: 0.6em;
    border-radius: 0.6em;
    text-align: left;
}

#right {
    float: right;
    background-color: #ece3a5;
    padding: 5px;
    width: 150px;
}

.center_content {
    width: 100%;
    position: relative;
    background-color: white;
    padding: 5px;
    vertical-align: top;
    min-height: 300px;
}

.center_content_indentado {
    position: relative;
    background-color: white;
    padding: 5px;
    margin-left: 200px;
    vertical-align: top;
}

.left_content {
    background-color: white;
    padding: 5px;
    margin-left: 170px;
}

.right_content {
    background-color: #dddddd;
    padding: 5px;
    margin: 0px 170px 0px 170px;
}

.list-column-center { 
  text-align: center;
 }

.list-column-left {
  text-align: left;
}

.list-column-right {
  text-align: right;
}

#top a:link, #top a:visited {
 /** color: white; **/
  font-weight : bold;
  text-decoration: none;
}

#top a:link:hover, #top a:visited:hover  {
  /**color: black; **/
  font-weight : bold;
  text-decoration : underline;
}

/** Tomadas de Grails **/

.nav {
	background-color: #333333;
	padding: 0.00em 0.00em;
	   -moz-box-shadow: 0 0 3px 1px #aaaaaa;
	-webkit-box-shadow: 0 0 3px 1px #aaaaaa;
	        box-shadow: 0 0 3px 1px white;
	zoom: 1;
        border: .2em solid white;
        border-radius: 0.6em;
}

.nav ul {
	overflow: hidden;
	padding-left: 0;
	zoom: 1;
}

.nav li {
	display: block;
	float: left;
	list-style-type: none;
	margin-right: 0.5em;
	padding: 0;
}

.nav a {
	color: #666666;
	display: block;
	padding: 0.25em 0.7em;
	text-decoration: none;
	   -moz-border-radius: 0.3em;
	-webkit-border-radius: 0.3em;
	        border-radius: 0.3em;
}

.nav a:active, .nav a:visited {
	color: #666666;
}

.nav a:focus, .nav a:hover {
        background-color: #009933;
	color: #ffffff;
	outline: none;
	text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
}

.no-borderradius .nav a:focus, .no-borderradius .nav a:hover {
	background-color: transparent;
	color: #444444;
	text-decoration: underline;
}

.nav a.home, .nav a.list, .nav a.create {
	background-position: 0.7em center;
	background-repeat: no-repeat;
	text-indent: 25px;
}

.nav a.home {
	background-image: url(../images/skin/house.png);
}

.nav a.list {
	background-image: url(../images/skin/database_table.png);
}

.nav a.create {
	background-image: url(../images/skin/database_add.png);
}

.hyperlink {
  color: blue;
  font-family: Tahoma;
  font-size: 8pt;
  font-weight: bolder;
  text-decoration: underline;
}

.label {
  color: black;
  font-family: serif;
  font-size: 8pt;
}

.label-blue {
  color: blue;
  font-family: Tahoma;
  font-size: 10pt;
}

.label-small {
  color: black;
  font-family: serif;
  font-size: 8pt;
}


html.progress, html.progress *{
    cursor: progress !important;
}
